option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    memory_limit: 256M
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "Off"  # Change to "On" during debugging
    max_execution_time: 90
  "aws:elasticbeanstalk:application:environment":
    APP_ENV: staging
    APP_URL: http://Laravelapp-env.eba-jjtj98j4.us-east-1.elasticbeanstalk.com
    APP_DOMAIN: Laravelapp-env.eba-jjtj98j4.us-east-1.elasticbeanstalk.com
    DB_HOST: awseb-e-33t574jbrs-stack-awsebrdsdatabase-q9tu4bvazobl.cb4kgyq2qdw0.us-east-1.rds.amazonaws.com
    DB_DATABASE: ebdb
    DB_USERNAME: admin
    DB_PASSWORD: "Ajith3010"  # Use Parameter Store for sensitive data
    APP_NAME: TheCodeDecode
    APP_KEY: "base64:sICADOp95FcSLc7bfb8Uyh34jMDFxE9dOvY8RxBIKlQ="
    APP_DEBUG: false  # Set to true only during debugging
    LOG_CHANNEL: stack
    BROADCAST_DRIVER: log
    CACHE_DRIVER: file
    QUEUE_CONNECTION: sync
    SESSION_DRIVER: file
    SESSION_LIFETIME: 120

    # Redis (only include if Redis is used in your environment)
    REDIS_HOST: 127.0.0.1
    REDIS_PASSWORD: ""
    REDIS_PORT: 6379

    # Mail configuration
    MAIL_MAILER: smtp
    MAIL_HOST: smtp.mailtrap.io
    MAIL_PORT: 2525
    MAIL_USERNAME: ""
    MAIL_PASSWORD: ""
    MAIL_ENCRYPTION: ""
    MAIL_FROM_ADDRESS: ""
    MAIL_FROM_NAME: "${APP_NAME}"

    # AWS configuration (only include if using AWS services that require these credentials)
    AWS_ACCESS_KEY_ID: ""
    AWS_SECRET_ACCESS_KEY: ""
    AWS_DEFAULT_REGION: eu-central-1
    AWS_BUCKET: ""

    # Pusher configuration (only include if using Pusher)
    PUSHER_APP_ID: ""
    PUSHER_APP_KEY: ""
    PUSHER_APP_SECRET: ""
    PUSHER_APP_CLUSTER: mt1

    MIX_PUSHER_APP_KEY: "${PUSHER_APP_KEY}"
    MIX_PUSHER_APP_CLUSTER: "${PUSHER_APP_CLUSTER}"

# Additional commands to set permissions on Laravel's writable directories
commands:
  01_set_permissions:
    command: |
      sudo chmod -R 755 /var/app/current/storage
      sudo chmod -R 755 /var/app/current/bootstrap/cache
